{% extends "template.html.twig" %}

{% block content %}
<h1 class="mb-3">Je suis une abeille
    <small class="text-muted">Back-Office</small>
</h1>

<div class="d-flex justify-content-start align-items-center">
    <h3 class="mr-3">
        Ruche
    </h3>
    <div>
        <a class="btn btn-primary col-12 mb-1" href="{{path_for('afficherRuche')}}" role="button"><i class="fas fa-qrcode"></i></a>
    </div>
</div>

<hr>

<div class="d-flex justify-content-between align-items-center pb-5">
    <h3>
        Liste des plantes
    </h3>
    <div>
        <a class="btn btn-primary" role="button" href="{{ path_for('formAjoutPlante', { 'id': plante.id }) }}"><i
                class="fas fa-plus"></i> Ajouter</a>
    </div>
</div>

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">#ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Nom latin</th>
            <th scope="col">Taille</th>
            <th scope="col">Floraison</th>
            <th scope="col">Couleur</th>
            <th scope="col">Emplacement</th>
            <th scope="col">Nectar</th>
            <th scope="col">Pollen</th>
            <th scope="col">Miellat</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for plante in plantes %}
        <tr>
            <td><img class="img-thumbnail" src="{{plante.photo}}"></td>
            <td scope="row">{{plante.id}}</td>
            <td>{{plante.nom}}</td>
            <td>{{plante.nom_latin}}</td>
            <td>{{plante.taille}}</td>
            <td>{{plante.floraison}}</td>
            <td>{{plante.couleur}}</td>
            <td>{{plante.emplacement}}</td>
            <td>{{plante.nectar}}</td>
            <td>{{plante.pollen}}</td>
            <td>{% if plante.miellat %} M {% endif %}</td>
            <td>
                <a class="btn btn-primary col-12 mb-1" href="{{path_for('afficherPlante', {id: plante.id})}}" role="button"><i class="fas fa-qrcode"></i></a>
                <a class="btn btn-primary col-12 mb-1" role="button"
                    href="{{ path_for('formEditPlante', { 'id': plante.id }) }}"><i class="fas fa-edit"></i></a>
                <form method="POST" action="{{ path_for('supprimerPlante', { 'id': plante.id }) }}">
                    <input type="hidden" name="_METHOD" value="DELETE" />
                    <button type="submit" class="btn btn-danger col-12" value="Supprimer"><i
                            class="fas fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}