extends base

block title
    title= 'Plante scannée'

block content
    h3 Plante scannée
    ul(id='details')
        li #[strong Nom] :
            span(class='value') #{plante.nom}
        li #[strong Nom latin] :
            span(class='value') #{plante.nom_latin}
        li #[strong Taille] :
            span(class='value') #{plante.taille}m
        li #[strong Couleur] :
            span(class='value') #{plante.couleur}
        li #[strong Floraison] :
            span(class='value') #{plante.floraison}
        li(style="display:flex") #[strong Photo] :
            img(src=plante.photo style="width:50%;margin:auto")

    button Récolter #{plante.pollen} pollen(s) et #{plante.nectar} nectar(s)
append scripts
    script(type='module').
        console.log(plante)
